*{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    color: #3586ff;
    font-family: Roboto;
    text-align: center;
    padding-top: 273px;
    font-size: 50px;

}
.centered-container {
    text-align: center;
}

section{
    position: relative;
    width: 100%;
    height: 55vh;
    background: #3586ff;
    overflow: hidden;
}
section .air{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
    background-size: 1000px 100px
}
section .air.air1{
    animation: wave 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .air.air2{
    animation: wave2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .air.air3{
    animation: wave 30s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .air.air4{
    animation: wave2 5s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
@keyframes wave{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}
@keyframes wave2{
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: -1000px;
    }
}

.button{
    position: absolute;
    border: 2px solid white;
    background: transparent;
    font-family: 'Roboto', sans-serif;
    color: white;
    width: 250px;
    height: 50px;
    font-size: 2em;
    border-radius: 5px;
    opacity: .5;
    top: 60vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    transition: .3s;
    text-decoration: none;
    text-align: center;
}

.button:hover{
    border: 2px solid #104F55;
    background-color: rgba(365,365,365,0.5);
    cursor: pointer;
    color: #104F55;
    opacity: .8;
    transition: .3s;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    text-decoration: none;
    text-align: center;

}

.light {
    position: absolute;
    width: 0px;
    opacity: .75;
    background-color: white;
    box-shadow: #e9f1f1 0px 0px 20px 2px;
    opacity: 0;
    top: 100vh;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
}
